@import 'primeicons/primeicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Title';
  src:
    url(@/assets/fonts/roboto-condensed-regular.woff) format('woff');
}

body {
  @apply flex items-center justify-center w-full;
}

#app {
  @apply max-w-screen-lg mx-auto my-auto p-2 text-center items-center flex flex-col h-screen justify-between;
}

img {
  @apply inline-flex;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

a,
.link {
  @apply text-blue-500 underline cursor-pointer;
}

ul#signup-pitch {
  @apply mt-4 text-start  md:pl-8;
}

ul#signup-pitch li {
  @apply my-3;
}

ul#signup-pitch li i {
  @apply me-2 font-normal text-slate-500;
}

/* Subscription update block */
.update-sub ul {
  @apply text-sm text-slate-500 flex flex-shrink mb-2;
}

.update-sub li {
  @apply me-2;
}

.update-sub li:not(:first-child):not(:last-child)::after {
  @apply ms-1;
  content: ',';
}

.update-sub li:first-child {
  @apply font-bold;
}

.update-sub p {
  @apply text-sm text-center;
}

/* FOOTER */
footer a {
  @apply text-inherit no-underline;
}

/* QUESTION FORM */
.question-readiness li {
  @apply mb-4;
}

.question-ready {
  @apply text-neutral-500;
}

.question-ready i {
  @apply pi pi-check me-4;
}

.question-not-ready i {
  @apply pi pi-stop me-4 text-neutral-500 bg-neutral-200;
}

/* QUESTION CARD, PREVIEW and MD RENDERING */
/* .q-card is used for the full question preview */
/* .md-rendered is used for previewing individual fields */

.q-card {
  @apply text-left w-full;
}

.q-card p,
.q-card li {
  /* Chrome doesn't break up long URLs creating an overflow on small screens */
  overflow-wrap: anywhere;
  max-width: 95vw;
  @apply md:max-w-none;
}

.q-card .q-text {
  @apply mb-6;
}

.q-card input[type='radio'],
.q-card input[type='checkbox'] {
  @apply h-6 w-6 checked:bg-blue-400 disabled:bg-slate-100 checked:disabled:bg-blue-400 text-green-500 p-2 my-auto mx-2;
}

.q-card input[type='checkbox'] {
  @apply rounded-md;
}

.q-card .q-answer {
  @apply w-full p-2 max-w-screen-lg;
}

.q-card .q-explain {
  @apply p-2 max-w-screen-lg;
}

.q-card .hide-explanation .q-explain {
  @apply hidden;
}

.q-card .explain-link {
  @apply hidden cursor-pointer;
}

.q-card .hide-explanation .explain-link {
  @apply inline-flex;
}

.q-card .incorrect-tag {
  @apply hidden;
}

.q-card .hide-explanation .incorrect-tag {
  @apply inline-flex;
}

.q-card .incorrect-label {
  @apply inline;
}

.q-card .hide-explanation .incorrect-label {
  @apply hidden;
}

/* QUESTION CARD EMBEDDED HTML */

.q-card p:not(:first-child),
.md-rendered p:not(:first-child) {
  @apply mt-4;
}

.q-card ul,
.md-rendered ul {
  @apply list-disc list-inside mb-4;
}

.md-rendered ul.markdown-prompt {
  @apply text-gray-400 text-sm flex gap-2 ps-0;
}

.q-card code,
.md-rendered code {
  @apply py-0.5 px-1 rounded-md font-mono text-sm;
}

.q-card code {
  @apply bg-slate-100;
}

.md-rendered code {
  @apply bg-slate-200;
}

.q-card pre,
.md-rendered pre {
  max-width: 90vw; /* prevents viewport overflow on small screens */
  @apply my-4 md:max-w-none;
}

.q-card pre code,
.md-rendered pre code {
  max-width: 90vw;
  @apply font-mono text-sm rounded-none p-2 md:w-fit block overflow-x-auto;
}

/* Contribute card */

.contribute-card {
  @apply max-w-md mx-auto mb-8 pb-4 border-2 rounded-md border-slate-100;
}

.contribute-card .abstract {
  @apply w-full h-24 rounded-t-md;
  background-position: bottom center;
  background-origin: border-box;
  background-size: cover;
}

.abstract-1 {
  background-image: url(@/assets/images/abstract_1.webp);
}

.abstract-2 {
  background-image: url(@/assets/images/abstract_2.webp);
}

.abstract-3 {
  background-image: url(@/assets/images/abstract_3.webp);
}

.contribute-card p {
  @apply text-justify p-2;
}

.contribute-card .cta {
  @apply text-center mt-4;
}

.contribute-card .cta a {
  @apply me-8;
}

.contribute-card .cta a:last-child {
  @apply me-0;
}

.contribute-card .cta a i {
  @apply text-slate-500;
}

/* About page */
.about {
  @apply p-2 max-w-xl mx-auto;
}
.about h3 {
  @apply mt-8 mb-4;
}

.about h3:first-child {
  @apply mt-4;
}

.about p {
  @apply text-justify mb-2;
}
