@import 'primeicons/primeicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex items-center justify-center w-full;
}

#app {
  @apply max-w-screen-lg mx-auto my-auto p-2 text-center items-center flex flex-col h-screen justify-between;
}

img {
  @apply inline-flex;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

a {
  @apply text-blue-500 underline;
}

ul#signup-pitch {
  @apply mt-4 text-start  md:pl-8;
}

ul#signup-pitch li {
  @apply my-3;
}

ul#signup-pitch li i {
  @apply me-2 font-normal text-slate-500;
}

footer a {
  @apply text-inherit no-underline;
}

/* QUESTION FORM */
.question-readiness li {
  @apply mb-4;
}

.question-ready {
  @apply text-neutral-500;
}

.question-ready i {
  @apply pi pi-check me-4;
}

.question-not-ready i {
  @apply pi pi-stop me-4 text-neutral-500 bg-neutral-200;
}

/* QUESTION CARD, PREVIEW and MD RENDERING */
/* .q-card is used for the full question preview */
/* .md-rendered is used for previewing individual fields */

.q-card {
  @apply text-left w-full;
}

.q-card p, .q-card li {
  /* Chrome doesn't break up long URLs creating an overflow on small screens */
  overflow-wrap: anywhere;
  max-width: 95vw; 
  @apply md:max-w-none;
}

.q-card .q-text {
  @apply mb-6;
}

.q-card input[type='radio'],
.q-card input[type='checkbox'] {
  @apply h-6 w-6 checked:bg-blue-400 disabled:bg-slate-100 checked:disabled:bg-blue-400 text-green-500 p-2 my-auto mx-2;
}

.q-card input[type='checkbox'] {
  @apply rounded-md;
}

.q-card .q-answer {
  @apply w-full p-2 max-w-screen-lg;
}

.q-card .q-explain {
  @apply p-2 max-w-screen-lg;
}

/* QUESTION CARD EMBEDDED HTML */

.q-card p:not(:first-child),
.md-rendered p:not(:first-child) {
  @apply mt-4;
}

.q-card ul,
.md-rendered ul {
  @apply list-disc list-inside mb-4;
}

.md-rendered ul.markdown-prompt {
  @apply text-gray-400 text-sm flex gap-2 ps-0;
}

.q-card code,
.md-rendered code {
  @apply py-0.5 px-1 rounded-md font-mono text-sm;
}

.q-card code {
  @apply bg-slate-100;
}

.md-rendered code {
  @apply bg-slate-200;
}

.q-card pre,
.md-rendered pre {
  max-width: 90vw; /* prevents viewport overflow on small screens */
  @apply my-4 md:max-w-none;
}

.q-card pre code,
.md-rendered pre code {
  max-width: 90vw;
  @apply font-mono text-sm rounded-none p-2 md:w-fit block overflow-x-auto;
}
